# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

platforms/
plugins/
second-prototype/node_modules/
second-prototype/jsdoc
second-prototype/logs
