/*body {
background: #000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 18px;
color: #aaa;
}

a { color: #97C4FF; text-decoration: none;}
a:hover { text-decoration: underline; color : #aaa; }

ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
color: #59799F;
}*/

td {
  text-align: center;

}

.table-small {
font-size: 13px;
}

.sb1 {
  width:20%;
}
.sb2 {
  width:20%;
}
.sb3 {
  width:20%;
}
.sb4 {
  width:20%;
}
.sb5 {
  width:20%;
}

.scoreboard {
  border: 5px solid #222;
  /*height: 100px;*/
  background: #333;
  color: #aaa;
}

.keyboard {
  border: 5px solid #222;
  /*height: 100px;*/
  background: #333;
  color: #aaa;
}
