<div class="row">
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
  <div class="col-sm-8 col-md-8 scoreboard">
    <h2 class="sub-header hidden-xs hidden-sm">History</h2>
    <h5 class="sub-header visible-xs-* visible-sm-* hidden-md hidden-lg">History</h5>
    <div class="table-responsive">
      <form>
        <table class="table table-small others">

          <tbody>

            <tr ng-repeat="over in overs track by $index">
              <td class="others">
                Over: {{ over.over_no }} Bowler: {{ over.bowler.name }}
                <table class="table table-small others">
                  <tbody>
                    <tr ng-repeat="ball in over.balls track by $index">
                      <td class="others">{{ball.striker.name}} ({{ball.striker.runs}})</td>
                      <td class="others"> {{ ball.runs }}</td>
                      <td class="others"> <span ng-if="ball.wkt">OUT!</span>
                        <span ng-if="ball.extras">Extras: {{ ball.extras }}</span>
                        <span class="glyphicon glyphicon-ok" ng-if="ball.valid"></span>
                        <span class="glyphicon glyphicon-remove" ng-if="!ball.valid"></span>
                      </td>
                    </tr>
                  </tbody>
              </td>

            </tr>
            <!-- *********************************************************** -->

          </tbody>
          </table>
      </form>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>


<div id="hidden_when_xs_sm" class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>
