<div class="row">
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
  <div class="col-sm-8 col-md-8 scoreboard">
    <h2 class="sub-header hidden-xs hidden-sm">History</h2>
    <h5 class="sub-header visible-xs-* visible-sm-* hidden-md hidden-lg">History</h5>
    <div class="table-responsive">
      <form>
        <table class="table table-small others">

          <tbody>
            <tr>
              <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                            <span class="glyphicon glyphicon-ok-circle"></span>
              </button>
              <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                            <span class="glyphicon glyphicon-remove-circle"></span>
              </button>
            </tr>
            <tr ng-repeat="over in overs">
              <td class="others">
                Over: {{ over.over_no }}
                Bowler: {{ over.bowler.name}}
                <ul>
                  <li ng-repeat="ball in over.balls">{{ ball.runs }}</li>
                </ul>
              </td>

            </tr>
            <!-- *********************************************************** -->
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                              <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
                <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>


<div id="hidden_when_xs_sm" class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>
