<div class="row">
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
  <div class="col-sm-8 col-md-8 scoreboard">
    <h2 class="sub-header hidden-xs hidden-sm">Others</h2>

    <h5 class="sub-header visible-xs-* visible-sm-* hidden-md hidden-lg others">Others
    </h5>

    <!-- <button type="button" class="btn btn-default btn-number" ng-click="accept()"> <span class="glyphicon glyphicon-ok-circle"></span></button>
      <button type="button" class="btn btn-default btn-number" ng-click="reject()"> <span class="glyphicon glyphicon-remove-circle"></span></button> -->

    <div class="table-responsive">
      <table class="table table-small others">

        <tbody>
          <tr>
            <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                            <span class="glyphicon glyphicon-ok-circle"></span>
              </button>
            <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                            <span class="glyphicon glyphicon-remove-circle"></span>
              </button>
          </tr>
          <tr>
            <td>No balls as extras</td>
          </tr>
          <tr>
            <td class="others">
              <div class="input-group">
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" ng-click="no_ball_extras_down()">
                                <span class="glyphicon glyphicon-minus"></span>
                </button>
                </span>
                <span class="form-control input-number" ng-bind="no_ball_extras"></span>
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" ng-click="no_ball_extras_up()">
                                <span class="glyphicon glyphicon-plus"></span>
                </button>
                </span>
              </div>
            </td>
            <tr>
              <td>No balls as runs for batsman</td>
            </tr>
            <tr>
              <td class="others">
                <div class="input-group">
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="no_ball_runs_down()">
                                  <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  </span>
                  <span class="form-control input-number" ng-bind="no_ball_runs"></span>
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="no_ball_runs_up()">
                                  <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </td>
            </tr>

            <tr>
              <td>Wides</td>
            </tr>
            <tr>
              <td class="others">
                <div class="input-group">
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="wide_extras_down()">
                                  <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  </span>
                  <span class="form-control input-number" ng-bind="wide_extras"></span>
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="wide_extras_up()">
                                  <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </td>
            </tr>

            <tr>
              <td>Leg Byes</td>
            </tr>
            <tr>
              <td class="others">
                <div class="input-group">
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="leg_bye_extras_down()">
                                  <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  </span>
                  <span class="form-control input-number" ng-bind="leg_bye_extras"></span>
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="leg_bye_extras_up()">
                                  <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </td>
            </tr>

            <tr>
              <td>Byes</td>
            </tr>
            <tr>
              <td class="others">
                <div class="input-group">
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="bye_extras_down()">
                                  <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  </span>
                  <span class="form-control input-number" ng-bind="bye_extras"></span>
                  <span class="input-group-btn">
                              <button type="button" class="btn btn-default btn-number" ng-click="bye_extras_up()">
                                  <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                              <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
                <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>
