<div class="row">
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
  <div class="col-sm-8 col-md-8 scoreboard">
    <h2 class="sub-header hidden-xs hidden-sm">Players</h2>
    <h5 class="sub-header visible-xs-* visible-sm-* hidden-md hidden-lg">Players</h5>
    <div class="table-responsive">
      <form>
        <table class="table table-small others">

          <tbody>
            <tr>
              <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                            <span class="glyphicon glyphicon-ok-circle"></span>
              </button>
              <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                            <span class="glyphicon glyphicon-remove-circle"></span>
              </button>
            </tr>
            <tr ng-repeat="player in players.players">
              <td class="others">
                <div class="form-group">
                    <input type="text" class="form-control" id="player_1" placeholder="eg Bradman" ng-model="player.name">
                  <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-arrow-up" ng-click="players.up(player)"></span>
                    <span class="input-group-addon glyphicon glyphicon-arrow-down" ng-click="players.down(player)"></span>
                      <span class="input-group-addon glyphicon glyphicon-edit" ng-click="edit(player)"></span>
                  </div>
                </div>
              </td>

            </tr>
            <!-- *********************************************************** -->
            <tr>
              <td>
                <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                              <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
                <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>


<div id="hidden_when_xs_sm" class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>
