<div class="row">
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
  <div class="col-sm-8 col-md-8 scoreboard">
    <h2 class="sub-header hidden-xs hidden-sm">Settings</h2>

    <h5 class="sub-header visible-xs-* visible-sm-* hidden-md hidden-lg others">Settings
    </h5>

    <div class="table-responsive">
      <form>
        <table class="table table-small others">

          <tbody>
            <tr>
              <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                            <span class="glyphicon glyphicon-ok-circle"></span>
              </button>
              <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                            <span class="glyphicon glyphicon-remove-circle"></span>
              </button>
            </tr>

            <tr>
              <td class="others">
                <div class="form-group">
                  <label for="match_type">Type of match</label>
                  <input type="text" class="form-control" id="match_type" placeholder="eg Limited Overs" ng-model="settings.match_type">
                </div>
              </td>
            </tr>
            <tr>
              <td class="others">
                <div class="form-group">
                  <label for="num_overs">Number of overs</label>
                  <input type="text" class="form-control" id="num_overs" placeholder="eg 40" ng-model="settings.num_overs">
                </div>
              </td>
            </tr>
            <tr>
              <td class="others">
                <div class="form-group">
                  <label for="num_innings">Number of innings per team</label>
                  <input type="text" class="form-control" id="num_innings" placeholder="eg 1" ng-model="settings.num_innings">
                </div>
              </td>
            </tr>
            <tr>
              <td class="others">
                <div class="form-group">
                  <label for="home_team">Home team</label>
                  <input type="text" class="form-control" id="home_team" placeholder="eg England" ng-model="settings.home_team">
                </div>
              </td>
            </tr>
            <tr>
              <td class="others">
                <div class="form-group">
                  <label for="away_team">Away team</label>
                  <input type="text" class="form-control" id="away_team" placeholder="eg Australia" ng-model="settings.away_team">
                </div>
              </td>
            </tr>
            <tr>
              <td class="others">
                <div class="form-group">
                  <label for="team_batting_first">Team batting first</label>
                  <input type="text" class="form-control" id="team_batting_first" placeholder="eg Australia" ng-model="settings.team_batting_first">
                </div>
              </td>
            </tr>


            <!-- *********************************************************** -->

            <tr>
              <td>
                <button type="button" class="btn btn-default btn-left" ng-click="accept()">
                              <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
                <button type="button" class="btn btn-default btn-right" ng-click="reject()">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 main hidden-xs hidden-sm">&nbsp;</div>
</div>
